.App {
  text-align: center;
  background-color: #282c34;
  font-size: 10pt;
  font-family: 'IM Fell DW Pica SC', serif;
}

.container-fluid {
    padding-right:0;
    padding-left:0;
    margin-right:auto;
    margin-left:auto
 }


.App-header {
  margin-bottom: 10px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  size: cover;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.exp {
  background-color: rgb(93, 179, 217);
  display: flex;
  background-size: cover;
  width: 100%;
  max-height: 100vh;
  flex-direction: column;
  align-items: center;
}

.title {
  margin-top: 7.5%;
  color: white;
  font-size: 6.9vmax;
  font-family: 'IM Fell DW Pica SC', serif;
}

.subtitle {
  font-size: .4em;
}

.book {
  max-width:70%;
  max-height:70%;
}

.subline {
  color: white;
  font-size: 1.7em;
  margin-bottom: 6.5vmin;
}

.register {
  width: 100%;
  flex-direction: column;
  align-items: center;
  min-height: 90vh;
  display: flex;
  font-size: 1.5vmax;
  text-align: center;
  color: white;
  background-size: cover;
  background-color: rgb(36, 136, 181);
  text-shadow: 2px 2px 8px rgb(36, 136, 181);
  padding-top: 6vmin;
}

.button {
  color: white;
  background-color: rgb(36, 136, 181);
  border-radius: 25px;
  border-color: white;
}


.formContainer {
  margin-top: 3vmax;
  display: inline-block;
  border: 5px;
  border-width: medium;
  border-color: white;
  border-radius: 25px;
  background-color: rgb(93, 179, 217);
  box-shadow: 5px 6px 5px rgb(37, 95, 186);


}

.registerNow {
  font-size: 3em;
  padding-bottom: 1em;
  /*text-shadow: 2px 2px 8px rgb(36, 136, 181);*/
}

.input {
  font-size: 1.2em;
  color:black;
  justify-content: left;
  text-align: left;
  border-radius: 25px;
}
